@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

#preloader {
  background: #fff url("./img/TNA Loading Animation.gif") no-repeat center
    center;
  background-size: 25%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.parallax-section {
  min-height: 120vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
}

.parallax-bg {
  background-image: url("img/IP.png");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  min-height: 100%;
}

.parallax-section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  margin-top: 35rem;
}

#content {
  position: relative;
  background-color: #fff;
}

#content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
}

footer {
  position: relative;
  padding: 5em 0;
}

.footer {
  background: #fff;
}
.footer p {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
.footer .menu {
  margin-bottom: 15px;
}
.footer .menu a {
  font-size: 0.8em;
  color: #000;
  margin: 0 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer .menu a:hover {
  text-decoration: underline;
}

.footer .copyright {
  font-size: 0.7em;
  font-weight: 500;
}

@media (min-width: 992px) {
  #preloader {
    background-size: 7%;
  }

  .footer .menu {
    margin-bottom: 30px;
  }

  .footer .menu a {
    margin: 0 10px;
    font-size: 1em;
  }

  .footer .copyright {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
