@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.jumbotron {
  background-color: #000;
  background-size: cover;
  height: 150vh;
  margin-top: -75px;
  text-align: center;
  color: #fff;
}

.jumbotron .container h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 170px;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.jumbotron .container h3 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

#content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
}

footer {
  padding: 5em 0;
}

.footer {
  background: #fff;
}
.footer p {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
.footer .menu {
  margin-bottom: 15px;
}
.footer .menu a {
  font-size: 0.8em;
  color: #000;
  margin: 0 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer .menu a:hover {
  text-decoration: underline;
}

.footer .copyright {
  font-size: 0.7em;
  font-weight: 500;
}

@media (min-width: 992px) {
  .footer .menu {
    margin-bottom: 30px;
  }

  .footer .menu a {
    margin: 0 10px;
    font-size: 1em;
  }

  .footer .copyright {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
  }

  #preloader {
    background: #fff url("./img/TNA Loading Animation.gif") no-repeat center
      center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
}
