@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

.address__location ul li {
  display: block;
  margin: 1rem 1rem;
}

.address__location ul li h3 {
  font-weight: 400;
  font-size: 1.2rem;
}

.address__location ul li i {
  margin-right: 3rem;
}

.contact__divider {
  width: 80%;
}

.social__media {
  margin: 0 1rem;
}

.social__media ul {
  padding: 0;
}

.social__media ul li {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  background: #000;
  border: 2px solid transparent;
  border-radius: 100%;
  margin: 0px 1rem;
  transition: 0.3s;
}

.social__media ul li a {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  transition: 0.3s;
}

.social__media ul li:hover {
  border: 2px solid #000;
  background: transparent;
}

.social__media ul li a:hover {
  color: #2244bc;
}

@media (min-width: 992px) {
  .address__location ul li {
    margin: 2rem 2rem;
  }

  .address__location ul li h3 {
    font-size: 1.5rem;
  }

  .address__location ul li i {
    margin-right: 5rem;
  }

  .social__media {
    margin: 1rem 1rem;
  }

  .social__media ul {
    margin: 0 1rem;
  }

  .social__media ul li {
    width: 50px;
    height: 50px;
  }

  .social__media ul li a {
    line-height: 48px;
  }
}
