.parallax-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
}

.parallax-bg {
  background-image: url("../../assets/img/IP.png");
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center right;
  z-index: -1;
  min-height: 100%;
}

.parallax-section h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

#content {
  position: relative;
  background-color: #fff;
}

#content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
}

@media (min-width: 992px) {
  .parallax-section {
    min-height: 120vh;
    padding: 50px;
  }

  .parallax-section h1 {
    margin-top: 35rem;
  }
}
