@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

#preloader {
  background: #fff url("../../assets/img/TNA Loading Animation.gif") no-repeat
    center center;
  background-size: 25%;
  top: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.page__content {
  position: relative;
  background-color: #ffffff;
}

.card img {
  border-radius: 0;
}

.sub-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.form-control {
  border-radius: 0;
}

.btn {
  background-color: #2244bc;
  border: 1px solid #2244bc;
}

.btn:hover {
  background-color: #002a90;
  border: 1px solid #002a90;
}

footer {
  position: relative;
  padding: 5em 0;
}

.footer {
  background: #fff;
}
.footer p {
  font-family: "Montserrat", sans-serif;
  color: #000;
}
.footer .menu {
  margin-bottom: 15px;
}
.footer .menu a {
  font-size: 0.8em;
  color: #000;
  margin: 0 0.7em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer .menu a:hover {
  text-decoration: underline;
}

.footer .copyright {
  font-size: 0.7em;
  font-weight: 500;
}

@media (min-width: 992px) {
  #preloader {
    background-size: 7%;
  }

  .footer .menu {
    margin-bottom: 30px;
  }

  .footer .menu a {
    margin: 0 10px;
    font-size: 1em;
  }

  .footer .copyright {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
